<style>
  .note-container{
    margin-bottom: 16px;
  }

  
  .subtask{
    font-size: 24px;
  }
  
</style>

<div id="<%= dom_id note %>"class="note-container">
  <p class="subtask"><%= note.subtask %><p>
  <p class="content"><%= note.content %><p>
  <p class="question"><%= note.questions %><p>

</div>
