<% @tasks.each do |task| %>
    <li>
      <%= task.title %>
      <p><%= task.subtask_title %></p>
        <% if !task.subtask_title %>
            <%= link_to 'Add Subtask', edit_subtask_task_path(task) %>
        <% else %>
            <%= button_to "Toggle Subtask Finished", toggle_finished_subtask_path(task), method: :patch, class: "btn btn-primary" %>
        <% end %>
    </li>
  <% end %>